<h1>Appearance <%=@appearance.id%></h1>
<p>Created by: <%=@appearance.user.username%></p>
<p>Episode: <%= @appearance.episode.id%></p>
<p><%= @appearance.rating%></p>
<p><%= link_to "edit", edit_appearance_path%></p>
